<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>WebShopKomys</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <meta name="description" content="WebShopProject -Komys-" />
    <meta name="author" content="a1504523@myy.haaga-helia.fi" />
    <meta name="copyright" content="Copyright by Elizaveta 2016" />

    <link rel="stylesheet" href="css/mycss.css"></link>  
    <link rel="icon" href="images/favicon.png"/>  

    <link href="css/bootstrap.css" rel="stylesheet"></link>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet"></link>
</head>

<body>
    
<nav class="navbar nomargin navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      	</button>
        	
            <a class="navbar-brand" href="index">Kömys</a>
        </div>
        
        <!-- for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        	
        	<!-- nav left -->
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="index">Home <span class="sr-only">(current)</span></a></li>
		      <li><a href="products">Jewellery</a></li>
		      <li><a href="lookbook">Lookbook</a></li>		      
		      <li><a href="contacts">Contacts</a></li>      
		      
		      <li sec:authorize="isAnonymous()">		      	
		      	<a href="login">Login</a>		      	
		      </li>		      
		    </ul>
		    
		    <!-- user nav / logout -->
		    <form class="navbar-form navbar-right" sec:authorize="isAuthenticated()"
							th:action="@{/logout}" method="post">				
				<button type="submit" class="btn btn-default">Sign Out</button>			
			</form>
		    <ul class="nav navbar-nav navbar-right">
		    	<li sec:authorize="hasAuthority('ADMIN')">
			    <a type="submit" href="/additem" class="btn " >Add new item</a>
			    </li>
			    <li sec:authorize="isAuthenticated()" th:inline="text">		    	
		    	<a href="cart"><img src="../images/shoppingcart.png" alt="cart" style="width:20px"/></a>
			    </li>
		    	<li sec:authorize="isAuthenticated()" th:inline="text">		    	
		    	<a><strong>Welcome [[${#httpServletRequest.remoteUser}]]</strong></a>
			    </li>			    			    
			</ul>
			
		</div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav> 
    
<main>
	<img src="/images/frontpage.jpg" alt="fashion" class="img-responsive fullwidth" id="frontpage"/>
</main>

<footer>

    <div class="footer_social">
        <h3>Follow Us</h3>
        <a href="#" target="_blank" title="Kömys on Facebook"><img src="images/facebook-icon.png" alt="Kömys on Facebook"/></a>
        <a href="#" target="_blank" title="Kömys on Twitter"><img src="images/twitter-icon.png" atl="Closed Clique on Twitter"/></a>
        <a href="#" target="_blank" title="Kömys on Picasa"><img src="images/picasa-icon.png" alt="Kömys on Picasa" /></a>
        <a href="#" target="_blank" title="Kömys on Youtube"><img src="images/youtube-icon.png" alt="Kömys on Youtube" /></a>
    </div><!--//footer_social-->
    

</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    

    
</body>
</html>